* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    font-size: 2rem;
}

.contenedor1{
    background-color: slategray;
    display: flex;
    flex-direction: column;
    min-height: 5rem;
    color: white;
    gap: 15px;
    padding: 20px;
}

.contenedor2{
    padding: 20px;
    flex-grow: 1;
}

@media (max-width: 640px){
    body{
        flex-direction: column-reverse;
    }

    .contenedor1{
        flex-direction: row;
        justify-content: space-evenly;
    }
}